doctype html
html
   head
     title= title
     link(rel='stylesheet', href='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css')
     link(rel='stylesheet', href='/stylesheets/style.css')
   body
     nav.navbar.navbar-inverse.navbar-fixed-top
       div.navbar-header
         a.navbar-brand(href='#') Azure IoT SDKs Github Stats
         ul.nav.navbar-nav
           li
             a(href="#c-sdks") C SDKs
           li
             a(href="#python-sdks") Python SDKs
           li
             a(href="#gateway-sdks") Gateway SDKs
           li
             a(href="#node-sdks") Node SDKs
           li
             a(href="#csharp-sdks") C# SDKs
           li
             a(href="#java-sdks") Java SDKs
           li
             a(href="#deprecated-sdks") Deprecated SDKs
     block content
     script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
     script(src='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/bootstrap.min.js')
